body {
  background-color: #9B5DE0;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

h1 {
  color: Black;
  font-size: 14px;
  margin-top: 20px;}

  .Summary-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #15173D
    position: relative;
    margin-bottom: 40px;
    }
  /* underline*/
  .Summary-title:: after{
    content:"";
    display: block;
    width: 45px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 2px;
  }
   .Education-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #15173D
    position: relative;
    margin-bottom: 40px;
    }
  /* underline*/
  .Education-title:: after{
    content:"";
    display: block;
    width: 45px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 2px;
  }
   .Work-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #15173D
    position: relative;
    margin-bottom: 40px;
    }
  /* underline*/
  .Work-title:: after{
    content:"";
    display: block;
    width: 45px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 2px;
  }
   .Skills-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #15173D
    position: relative;
    margin-bottom: 40px;
    }
  /* underline*/
  .Skills-title:: after{
    content:"";
    display: block;
    width: 45px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 2px;
  }
  
