body {
 background-color: #f8f9fa;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

ul
{  
  padding-left: 5px;
 margin-top: 5px;
 }
li
{
 margin-bottom:3px;
 line-height: 1.4;
}


h1 {
  color: #000000;
  font-size: 14px;
  margin-top: 20px;}

  .Section-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #15173D
    position: relative;
    margin-bottom: 40px;
    }
  /* underline*/
  .section-title {
  font-weight: 600;
  border-bottom: 1.5px solid #3B4953;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 15px;
}
 










